<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your Info</title>
  <style>
    body {
      background: #111;
      color: white;
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
    h1 {
      margin: 0.5em 0;
    }
  </style>
</head>
<body>
  <h1>Your Device - <%= device %></h1>
  <h1>Your IP - <%= ip %></h1>
</body>
</html>
